
<input type="file" class="form-control" (change)="formData.file = $event.target.files[0]; loadPalettes()">
<!-- <button (click)="loadPalette()">Show palettes</button> --> <br><br>

<div *ngFor="let image of images" style="margin-bottom: 50px;display: inline-block;vertical-align: top;margin-right: 20px;">
  <span>File name: {{ image.name }}</span> <br>
  <figure>
    <img src="{{ image.source }}" alt="">
  </figure>
  <ng-container *ngFor="let palette of image.palettes">
    <span>{{ palette.createdBy }}</span><br>

    <ng-container *ngFor="let color of palette.colors">
      <span [style.background-color]="color.code">&nbsp;&nbsp; &nbsp;</span>
      <span style="display:inline-block;">{{ color.name }} - {{ color.code }}</span>
      <br>
    </ng-container>
    <br>
  </ng-container>

</div>
