<header>
  <div class="container">
    <h1 class="logo">Color palette generator</h1>
    <p class="lead">
      Upload some images and it will generate two color palettes from each one of them.<br>
      To make it happen it uses two Javascript libraries "node-vibrant" and "color-thief-standalone" behind the hood.
    </p>

    <input type="file" class="custom-file-input" (change)="formData.file = $event.target.files[0]; loadPalettes()">
  </div>
</header>

<section id="examples" class="examples-section">
  <div class="container" style="max-width: initial;">
    <div id="example-images">
      <div *ngFor="let image of images" class="image-section with-color-thief-output">
        <div class="image-wrap">
          <img class="target-image" src="{{ image.source }}">
        </div>
        <div class="color-thief-output" style="display: block;">
          <div class="function get-color">
            <h3 class="function-title">Dominant Color</h3>
            <div class="swatches" style="height: initial;">
              <div class="swatch" [style.background-color]="image.mainColor"></div>
            </div>
          </div>

          <div class="function get-palette" *ngFor="let palette of image.palettes;let index = index">
            <h3 class="function-title">Palette {{ index + 1 }}</h3>
            <div class="function-output">
              <div class="swatches">
                <ng-container *ngFor="let color of palette.colors">
                  <div class="swatch" [style.background-color]="color.code"></div>
                </ng-container>
              </div>
            </div>
            <div class="function-code">
              <code>{{ palette.createdBy }}</code>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

